.employee {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.employee__searchBox-wrapper {
    display: flex;
    background-color: var(--clr-light-gray);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid var(--clr-gray);
    margin: 1rem;
}

.employee__searchBox-icon {
    width: var(--size-2xl);
}

.employee__searchBox {
    border: none;
    background: none;
    width: 100%;
}

.employee__hr {
}

.employee__list-container {
    padding: 1rem;
}

.employee__title {
    color: var(--clr-dark-blue);
}

.employee__tables {
    padding: 1rem;
}

.employee__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.employee__table th,
.employee__table td {
    border: 1px solid var(--clr-light-gray);
    padding: 0.5rem;
    text-align: left;
}

.employee__table th {
    background-color: var(--clr-light-gray);
    color: var(--clr-gray);
    font-weight: 600;
}

.employee__table th:first-child,
.employee__table td:first-child {
    border-left: none; /* Remove left border for header and cells */
}

.employee__table th:last-child,
.employee__table td:last-child {
    border-right: none; /* Remove right border for header and cells */
}

.employee__table tbody tr {
    background-color: white; /* Apply background color to data rows */
    margin-top: 8px; /* Adjust the top margin for the data rows */
}

.employee__table tbody tr:nth-child(even) {
    background-color: var(
        --clr-light-gray
    ); /* Apply alternate row background color */
}
