.employee {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}

.employee__searchBox-wrapper {
    display: flex;
    background-color: var(--clr-light-gray);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid var(--clr-gray);
    margin: 1rem;
}

.employee__searchBox-icon {
    width: var(--size-2xl);
}

.employee__searchBox {
    border: none;
    background: none;
}

.employee__title {
    color: var(--clr-dark-blue);
}

.employee__list {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.3rem;
}

.employee__upperTable {
    border: 1rem solid var(--clr-light-gray);
    background-color: var(--clr-light-gray);
    color: var(--clr-gray);
    border-radius: 1rem;
    font-weight: 600;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.employee__upperTable p:nth-child(1) {
    flex: 1; /* Adjust the flex property as needed for No. */
}

.employee__upperTable p:nth-child(2) {
    flex: 3; /* Adjust the flex property as needed for Name */
}

.employee__upperTable p:nth-child(3) {
    flex: 2; /* Adjust the flex property as needed for Contacts */
}

.employee__upperTable p:nth-child(4) {
    flex: 2; /* Adjust the flex property as needed for Status Today */
}

.employee__lowerTable {
    border: 1rem solid var(--clr-light-gray);
    background-color: var(--clr-light-gray);
    border-radius: 1rem;
}

.employee__lowerTable-li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.employee__lowerTable-li .employee__lowerTable-data:nth-child(1) {
    flex: 1;
}
.employee__lowerTable-li .employee__lowerTable-data:nth-child(2) {
    flex: 3;
}
.employee__lowerTable-li .employee__lowerTable-data:nth-child(3) {
    flex: 2;
}
.employee__lowerTable-li .employee__lowerTable-data:nth-child(4) {
    flex: 2;
}
