.activity_logs {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}
.activity-log__list-container {
    padding: 1rem;
    height: 100%;
    overflow: scroll;
}
.activity-log__table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
    
}

.activity-logs__title {
    color: var(--clr-dark-blue);
    position: relative;
    margin-left: 1rem;
}

.activity-logs__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.2rem;
    height: 100%;
    width: 0.5rem;
    background-color: var(--clr-primary);
    border-radius: 1rem;
}
.activity-log__table-header{
    text-align: center;
}
.activity-log__table-header::after {
    content: "";
    display: block;
    height: 1.5rem;
    width: 100%;
    background: none;
}
.activity-log__table th,
.activity-log__table td {
    border: 1px solid var(--clr-light-gray);
    padding: 1rem;
    text-align: left;
}
.activity-log__table th {
    background-color: var(--clr-light-gray);
    color: var(--clr-gray);
    font-weight: 600;
    text-align: center;
}
.activity-log__table-body{
    color: var(--clr-dark-blue);
    font-weight: 600;
    background-color: var(--clr-light-gray);
}
.pagination{
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.prev,.next,.page
{
    margin: 0.5rem;
}
